.loggo {
  /* background: rgb(69, 58, 58); */
  width: auto;
  color: $success;
}
.loggo2 {
  /* background: rgb(69, 58, 58); */
  width: auto;
  color: $success-darken-2;
}
.righttxt {
  width: auto;
  color: $panel-darken-2;
}
.search_input {
  border: none;
  width: 30;
  margin-left: 7;
  background: $boost;
  border: vkey rgb(68, 87, 80); /* vkey, tall, blank, hkey */
  border-top: hidden;
}
.top {
  height: auto;
  dock: top;
  background: $boost;
  margin-bottom: 1;
  padding-left: 1;
  outline-bottom: tall rgb(68, 87, 80);
}
.loading {
  width: auto;
  height: auto;
  align: center middle;
  border: hkey rgb(60, 49, 49);
  content-align: center middle;
}
#loading-container {
  width: 1fr;
  align: center middle;
}

Checkbox {
  border: none;
  background: $boost;
}

TopicList {
  dock: left;
  width: 32;
  padding-left: 1;
}
#topic-container > Button {
  width: 100%;
  height: auto;
  border: none;
  padding-bottom: 1;
  text-align: start;
  background: $surface;
  outline-bottom: wide rgb(68, 87, 80);
}
.nav {
  text-style: bold;
  content-align: center middle;
  border: round rgb(93, 68, 68);
}

Footer {
  background: rgb(53, 41, 61);
}

Sidebar {
  width: 40;
  background: $panel;
  transition: offset 500ms in_out_cubic;
  layer: overlay;
}

Sidebar:focus-within {
  offset: 0 0 !important;
}

Sidebar.-hidden {
  offset-x: -100%;
}

/* #content-body {
  scrollbar-size: 10 1;
  overflow-y: scroll; 
  padding: 0;
} */
.entry-container {
  height: auto;
  outline: tall red;
  padding: 0 4;
}
.entry {
  background: $surface;
  height: auto;
  box-sizing: border-box;
  border-bottom: wide rgb(68, 87, 80);
}
.entry-baslik {
  text-style: bold;
  color: rgb(112, 224, 112);
  padding: 0 0 1 4;
}
.entry-footer {
  color: rgb(68, 87, 80);
  content-align: right middle;
}
